@import 'global';

#div-with-bg{
    background-image: url('images/goGame.png');
    min-height: 500px;
    min-width:  500px;
    margin-top: 0px;
    padding-top: 120px;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

div.form-group{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: lightgrey;
    padding: 25px;
    border-radius: 25px;
    
}

label{
    font: $font-stack;
    padding: 6px;
}

#start-btn{
    margin-top: 16px;
}

#opponent-selector, #colour-selector{
    width:100%;
    text-align:center;
    display:inline-block;
}


#opponent-selector button, #colour-selector button {
    width:50%;
}

#colour-selector-wrapper {
    margin-top:5px;
    margin-bottom:5px;
}

#colour-selector-wrapper *{
    margin-top:0px;
}

#colour-selector button:hover {
    font-weight:bold;
}

#colour-selector-indicators button {
    margin:0;
    padding:0;
}






