$font-stack:    Helvetica, sans-serif;

$brown: #b98146;
$light-grey-orange: #d5b490;
$green: #63b946;
$dark-gold: #8a610f;
$light-orange: #ffcc66;
$grey-blue: #609f9f;
$light-red: #ff5050;
$creamy-green: #ccffcc;
$circle-radius: 50px;
$hover-shadow:5px -5px rgba(0,0,0,0.6);
$beach: url('images/beach.png');
$dragon: url('images/dragon.png');
$forest: url('images/forest.png');
$metal: url('images/metal.png');
$river: url('images/river.png');

a.navbar-brand{
    font-size: 24px;
}

div.better-border{
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 15px;

    margin-bottom: 15px;
}

.disable-click-events {
    pointer-events: none;
}

.beach{
    background-image: $beach;
    background-repeat: no-repeat;
    background-size: 100%;
}

.dragon{
    background-image: $dragon;
    background-repeat: no-repeat;
    background-size: 100%;
}

.forest{
    background-image: $forest;
    background-repeat: no-repeat;
    background-size: 100%;
}

.metal{
    background-image: $metal;
    background-repeat: no-repeat;
    background-size: 100%;
}

.river{
    background-image: $river;
    background-repeat: no-repeat;
    background-size: 100%;
}


.circle { 
    width:$circle-radius;
    height:$circle-radius;
    border: solid 1px #555;
    opacity: 0.9;
    border-radius:100px;

 }

 .shadow {
    box-shadow: 5px -5px rgba(0,0,0,0.6);
    border-radius:8px;
 }