@import 'global';

table.table-centered{
    margin: 0 auto !important;
    float: none !important;
}

#play-game-button{
    margin-bottom: 16px;
}

select.form-control-inline{
    min-width: 175px;
    min-height: 8px;
    margin-top: 16px;
}
