a.navbar-brand {
  font-size: 24px; }

div.better-border {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }

.disable-click-events {
  pointer-events: none; }

.beach {
  background-image: url("images/beach.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.dragon {
  background-image: url("images/dragon.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.forest {
  background-image: url("images/forest.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.grass {
  background-image: url("images/grass.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.metal {
  background-image: url("images/metal.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.river {
  background-image: url("images/river.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.ocean {
  background-image: url("images/ocean.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.mountain {
  background-image: url("images/mountain.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.wood {
  background-image: url("images/wood.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.circle {
  width: 50px;
  height: 50px;
  border: solid 1px #555;
  opacity: 0.9;
  border-radius: 100px; }

.shadow {
  box-shadow: 5px -5px rgba(0, 0, 0, 0.6);
  border-radius: 8px; }

#board-wrapper {
  padding: 2.5%; }

#board {
  margin: auto;
  width: 75%; }

#svg {
  opacity: 0.90; }

#bottom-panel-wrapper {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 75%; }

#bottom-panel-wrapper * {
  margin-top: 5px;
  margin-bottom: 5px; }

#bottom-panel-wrapper .btn {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block; }

#player-indicator .btn {
  font-size: 25px;
  width: 25%;
  border-style: solid;
  border-width: 2px;
  border-color: light-gray; }

#background-score-black {
  background-color: lightgrey;
  border-color: Black;
  border-width: medium;
  border-style: solid;
  border-radius: 10px;
  width: 85%;
  height: 75px;
  text-align: center;
  margin: 0 auto; }

#background-score-white {
  background-color: white;
  border-color: Black;
  border-width: medium;
  border-style: solid;
  border-radius: 10px;
  width: 85%;
  height: 75px;
  text-align: center;
  margin: 0 auto; }

.replay-button {
  padding: 0px; }

.replay-button img {
  width: 30px; }

.replay-button:hover {
  box-shadow: 2px 2px 5px #888888; }
